/* starting my CSS below! */

body {
    background-color: rgb(191, 231, 245);
}
h1 {
    color: Black;
    text-align: center;
}
h2 {
    color: #fbff00;
    color: hsl(105, 94%, 39%);
    text-align: center;
}
h3 {
    color: rgb(237, 237, 102);
    margin: 25px 25px 25px 25px;
    text-align: justify;
    text-decoration: dotted;
}
nav {
    background-color: beige;
    margin: auto;
    border-color: black;
    border-style: groove;
    border-radius: 1rem;
    border-width: 3px;
}

button:hover {
    color: gold;
    background-color: #73ff00;
}

button:active{
    box-shadow: 10px 10px 10px green;
}

/* see if this works */
#vid{
    display: flex;
    align-items: flex-end;
    position: sticky;
    max-width: 20cm;
    max-height: 300cm;
    min-width: 0cm;
}

.agenda {
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.UnfinishedBusiness {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    background: hotpink;
    border-radius: 50%;
    display: inline-block;
    vertical-align: center;
    margin-left: 0.5em;
}

.lh {
    width: 0.5lh;
    height: 0.5lh;
}

.min{
    text-align: center;
    margin: auto;
    display: inline;
    position: static;
}

#vid{
    display: flex;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-items: center;
    column-gap: 2em;
}

@media screen and (max-width: 50px){
    h3{
        background-color: blueviolet;
        font: 100;
    }
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
}


#min-div{
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin: auto;
    display: inline-block;
}

#second-div{
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

div {
    background-color: palevioletred;
    width: 70em;
}

div ~ span {
    text-align: right;
}

li li {
    text-align: left;
    text-indent: 0.25in;
}

p.names{
    font-family: "Times New Roman", Times, serif;
}

div + p {
    background-color: brown;
}

#social > li {
    color:gold;
}